body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#f8f9fa;
}
/* CSS Banner produto */
#produto-holder{
    border:1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    max-width: 50vw;
    grid-template-areas:
    "carousel info"
    "carousel preco"
    "carousel cores"
    "carousel tamanho"
    ". comprar";
    padding: 20px;
}
/* Regras gerais para Texto */
#produto-holder > *{
    padding: 5px;
}
#produto-holder span{
    font-size: 10px;
}
#produto-holder h6,p{
    margin-bottom: 0px;
    font-weight: bold;
}

/* Elementos dentro Banenr */
#myCarousel{
    grid-area: carousel;
    background-color: red;
}

#info-produto{
    grid-area: info;
    display: flex;
    flex-direction: column;
}
#preco-produto{
    grid-area: preco;
    display: flex;
    flex-direction: column;
}
#preco-produto p{
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
}
#cores-produto{
    
    grid-area:cores;
}
#tamanho-produto{
    grid-area:tamanho;
}
#comprar-produto{
    grid-area:comprar;
}

.btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 7px;
}

#comprar-produto .btn{
    width:90%;
    height: auto;
    border-radius: 5px;
    font-size: 10px;
}


/* CSS Tabela */

.table{
    width: 50vw;
}